@import "../../shared";
@import "../../components/home/main-logo";
@import "../../components/home/wavy";
@import "../../components/home/top-picture-box";
@import "../../components/home/top-buttons";

@mixin first-area {
  @include wavy;
  @include top-picture-box;

  $main-title-font-size: calc((8vw + 9vh) / 2);
  $main-title-chinese-font-size: calc((4vw + 5vh) / 2.2);
  $sub-title-font-size: calc((4vw + 5vh) / 4.2);
  $svg-width-fit-content: calc((35vw + 60vh) / 2);
  $clip-path-short-size: calc((25vw + 40vh) / 2);

  .first-area {
    position: relative;
    @include fix-100vh-in-mobile-WebKit;
    height: max-content;


    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__npc {
        display: inline-block;
        max-height: 1em;
        max-width: 1em;
        height: 100%;
        width: auto;
        fill: black;
        vertical-align: bottom;
      }

      &__main {
        left: 90vw;
        top: 10vh;
        transform: translateX(-90vw);
        width: calc(#{$svg-width-fit-content} * 0.4);
        max-width: 300px;
        @include main-logo;
      }
    }

    .main-title {
      cursor: default;
      font: {
        size: $main-title-font-size;
        family: "FugazOne", "google-sans-bold", sans-serif;
      };
      --moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 10vh;
      margin-left: 5vw;
      line-height: 1.2;
      color: #ffffff;
      text-shadow: grey 1px 1px 1px;
      max-font-size: 65px;
      max-width: 90%;
      transition-timing-function: ease-in-out;
      transition: .3s;
      user-select: none;

      &__chinese {
        color: #1b262c;
        position: relative;
        transform: translateY(-10vh) !important;
        font: {
          size: $main-title-chinese-font-size;
          weight: bolder;
        };
        width: max-content;
        white-space: nowrap;
        margin: 0;

        @media (max-width: 768px) {
          font-size: calc(#{$main-title-chinese-font-size} * 1.3);
        }
      }

      &__sub-title {
        font: {
          size: $sub-title-font-size;
        };
        color: #0f4c75;
        width: min-content;
        white-space: nowrap;
        position: relative;
        transform: translateY(-10vh);
        margin: 1em 0 0 0;
        word-wrap: break-word;
        text-shadow: darkgrey 1px 1px 1px;
        max-width: 100%;
        text-wrap: normal;

        @media (max-width: 768px) {
          font-size: calc(#{$sub-title-font-size} * 1.3);
        }
      }
    }

    .clip-area {
      $gradient-blue: linear-gradient(
                      35deg,
                      rgba(32, 50, 235, 0.9),
                      rgba(32, 70, 235, 0.9),
                      rgba(32, 100, 235, 0.9),
                      rgba(32, 160, 235, 0.9)
      );
      background: $gradient-blue, url("https://i.imgur.com/bHZ5mk9.webp");
      animation: gradient 20s forwards ease-in-out infinite;
      height: calc(#{$svg-width-fit-content});

      @keyframes gradient {
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0 50%;
        }
      }
    }

    .info-area {
      display: flex;
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 5vw;
      margin-right: 5vw;
      max-width: 90%;
      width: calc(100% - ((30vw + 30vh) / 2) - 5% - 10%);

      &__text {
        width: max-content;
        display: block;
        margin-bottom: 1em;
        margin-top: 1em;
        max-width: 100%;
      }

      &__button--container {
        align-content: center;
        vertical-align: center;
        display: flex;
        display: -webkit-box;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-box-pack: center;
      }

      @include _button("&__button") {
        @include button__red("&__button");
        @include button__white("&__button");

        .bottom-icon {
          top: 50%;
          transform: translateY(-50%);
          height: 30%;
          position: relative;
          width: auto;
          //margin: 0 0 0 .7em;

          &__blue {
            fill: #0957ff;
          }

          &__white {
            fill: white;
          }
        }
      }
    }
  }
}
