@mixin _font {
  @import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap");
  * {
    font-family: "google-sans", Quicksand, Quicksand, Noto Sans TC, -apple-system, "NotoSansTC-Medium", BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans TC, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  @font-face {
    font-family: "google-sans";
    src: url("~@/assets/fonts/Product Sans Regular.ttf");
  }

  @font-face {
    font-family: "google-sans-italic";
    src: url("~@/assets/fonts/Product Sans Italic.ttf");
  }

  @font-face {
    font-family: "google-sans-bold";
    src: url("~@/assets/fonts/Product Sans Bold.ttf");
  }

  @font-face {
    font-family: "google-sans-bold-italic";
    src: url("~@/assets/fonts/Product Sans Bold Italic.ttf");
  }

  @font-face {
    font-family: "fasterOne";
    src: url("~@/assets/fonts/FasterOne-Regular.ttf");
  }

  @font-face {
    font-family: "FugazOne";
    src: url("~@/assets/fonts/FugazOne-Regular.ttf");
  }
}
