@mixin footer {
  .footer {
    margin-top: 3em;
    background-color: dimgrey;
    color: white;
    padding: {
      left: 2em;
      right: 2em;
      top: 2em;
      bottom: 1em;
    }

    .copyright {
      width: 100%;
      font-size: calc((2vw + 2vh) / 3);
      text-align: center;
    }
  }
}
