.button {
  &.dark {
    --background: #2F3545;
    --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
  }

  &.white {
    --background: #fff;
    --text: #275efe;
    --shadow: 0 2px 8px -1px #{rgba(#121621, .04)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#121621, .12)};
  }
}

.button {
  --background: #275efe;
  --text: #fff;
  --font-size: 16px;
  --duration: .5s;
  --move-hover: -4px;
  --shadow: 0 2px 8px -1px #{rgba(#275efe, .32)};
  --shadow-hover: 0 4px 20px -2px #{rgba(#275efe, .5)};
  margin: 1em 0.5em;
  padding: 0 35px;
  font-weight: 500;
  //line-height: 50px; // set line-height to same as button height can let text vertical center
  border-radius: 24px;
  display: block;
  outline: none;
  border: none;
  cursor: pointer;
  width: 170px;
  height: 50px;
  text-align: right;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .5px;
  line-height: 1.2;
  background: var(--background);
  color: var(--text);
  box-shadow: var(--shadow);
  transform: translateY(var(--y));
  transition: .3s ease, box-shadow var(--duration) ease;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;

  div {
    display: flex;

    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      $i: 1;
      @while $i < 12 {
        &:nth-child(#{$i}) {
          --d: #{$i / 20 + s};
        }
        $i: $i + 1;
      }
    }
  }

  &:hover {
    --y: var(--move-hover);
    --shadow: var(--shadow-hover);
    --move: -4px;
    --shadow-active: 0 3px 1px rgba(0, 0, 0, .2);
    transition: .3s ease-in-out;
    background-color: deepskyblue;

    span {
      animation: move var(--duration) linear var(--d);
    }
  }

  &.dark:hover {
    background-color: red;
  }

  &.white:hover {
    background-color: orange;
  }

  &:active {
    transition: .3s ease-in-out;
    background-color: darkblue;
  }

  &.dark:active {
    background-color: darkred;
  }

  &.white:active {
    background-color: darkorange;
  }

  &.smoke {
    --move: 12px;
    --move-y: -8px;
    --blur: 4px;

    &:hover {
      span {
        --duration: 1s;
        animation: smoke var(--duration) linear var(--d);
      }
    }
  }

  &.drive {
    --move: 16px;
    --skew: 25deg;
    --skew-fast: 40deg;
    --skew-bounce: -12px;

    &:hover {
      span {
        --duration: 1s;
        transform-origin: 50% 100%;
        animation: drive var(--duration) linear var(--d);
      }
    }
  }

  .bottom-icon {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    height: 30%;
    width: auto;

    &__blue {
      fill: #0957ff;
    }

    &__white {
      fill: white;
    }
  }
}

@keyframes move {
  40% {
    transform: translateY(var(--move));
    text-shadow: var(--shadow-active);
  }
}

@keyframes smoke {
  45%,
  55% {
    filter: blur(var(--blur));
  }
  50%,
  50.1% {
    opacity: 0;
  }
  25%,
  75% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(var(--move)) translateY(var(--move-y));
  }
  //50.1% {
  //  transform: translateX(#{calc(#{var(--move)} * -1)});
  //}
}

@keyframes drive {
  40% {
    opacity: 1;
  }
  55% {
    transform: skewX(var(--skew)) translateX(var(--move));
  }
  //56% {
  //  transform: skewX(var(--skew-fast)) translateX(#{calc(#{var(--move)} * -1)});
  //}
  55%,
  56% {
    opacity: 0;
  }
  75% {
    transform: skewX(var(--skew));
  }
  85% {
    transform: skewX(var(--skew-bounce));
  }
}
