@mixin footer {
  .footer {
    background-color: dimgrey;
    color: white;
    z-index: 99999999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: {
      left: 2em;
      right: 2em;
      top: 2em;
      bottom: 1em;
    }

    .npc-logo {
      position: relative;
      margin: auto;

      svg {
        height: 10px;
        width: auto;
      }
    }

    .icons {
      display: flex;
      flex-direction: row;
      justify-content: center;

      svg {
        height: 50px;
        margin: .3em;
        padding: .5em;
        transition: .2s ease-in-out;

        &:hover {
          fill: lawngreen;
          transition: .2s ease-in-out;
        }

        &:active {
          fill: green;
          transition: .2s ease-in-out;
        }
      }
    }

    .copyright {
      user-select: none;
      width: 100%;
      font-size: calc((2vw + 2vh) / 3);
      text-align: center;
      color: #d3d3d3;
    }
  }
}

@include footer
