@mixin top-picture-box {
  .top-picture-box {
    position: absolute;
    left: 95%;
    bottom: 5%;
    transform: translateX(-95%);
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: calc((40vw + 40vh) / 2);
      height: calc((40vw + 40vh) / 2);
    }
  }
}
