@import "../shared";
@import "../components/home/main-logo";
@import "../components/home/wavy";
@import "../components/home/top-picture-box";

@include _page("home") {
  @include wavy;
  @include top-picture-box;

  $main-title-font-size: calc((8vw + 9vh) / 2);
  $main-title-chinese-font-size: calc((4vw + 5vh) / 2);
  $sub-title-font-size: calc((4vw + 5vh) / 4);
  $svg-width-fit-content: calc((35vw + 60vh) / 2);
  $clip-path-short-size: calc((25vw + 40vh) / 2);

  .first-area {
    position: relative;
    height: 100vh;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__npc {
        display: inline-block;
        max-height: 1em;
        max-width: 1em;
        vertical-align: bottom;
      }

      &__main {
        left: 90vw;
        top: 10vh;
        transform: translateX(-90vw);
        width: calc(#{$svg-width-fit-content} * 0.4);
        max-width: 300px;
        @include main-logo;
      }
    }

    .main-title {
      cursor: default;
      font: {
        size: $main-title-font-size;
        family: "google-sans-bold", sans-serif;
      };
      --moz-osx-font-smoothing: grayscale;
      position: absolute;
      top: 10vh;
      margin-left: 5vw;
      line-height: 1.2;
      color: #ffffff;
      text-shadow: grey 1px 1px 1px;
      max-font-size: 65px;
      max-width: 90%;

      &__chinese {
        color: #1b262c;
        position: relative;
        transform: translateY(-10vh);
        font: {
          size: $main-title-chinese-font-size;
          weight: bolder;
        };
        width: max-content;
        white-space: nowrap;
        margin: 0;

        @media (max-width: 768px) {
          font-size: calc(#{$main-title-chinese-font-size} * 1.3);
        }
      }

      &__sub-title {
        font: {
          size: $sub-title-font-size;
        };
        color: #0f4c75;
        width: min-content;
        white-space: nowrap;
        position: relative;
        transform: translateY(-10vh);
        padding-left: 2em;
        margin: 1em 0 0 0;
        word-wrap: break-word;

        @media (max-width: 768px) {
          font-size: calc(#{$sub-title-font-size} * 1.3);
        }
      }
    }

    .clip-area {
      $gradient-blue: linear-gradient(
                      35deg,
                      rgba(32, 50, 235, 0.9),
                      rgba(32, 70, 235, 0.9),
                      rgba(32, 100, 235, 0.9),
                      rgba(32, 160, 235, 0.9)
      );
      background: $gradient-blue, url("~@/assets/images/Colorful-Plait-Background.jpg");
      animation: gradient 20s forwards ease-in-out infinite;
      height: calc(#{$svg-width-fit-content});

      @keyframes gradient {
        0% {
          background-position: 0 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0 50%;
        }
      }
    }

    .info-area {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 5vw;
      width: calc(100% - ((30vw + 30vh) / 2) - 5% - 10%); // I forgot how this come from...

      &__text {
        width: max-content;
        display: block;
        margin-bottom: 1em;
        //margin-right: 1em;
      }

      &__button {
        vertical-align: bottom;
        font-weight: bolder;
        margin: 1em 0.5em;
        position: relative;
        text-align: center;
        height: 50px;
        line-height: 50px;
        padding: 0 35px;
        animation: fadeIn 1000ms forwards, moveDown 900ms forwards;
        animation-delay: 400ms;
        width: 100px;
        min-width: 100px;
        display: inline-block;
        border-radius: 50px;
        cursor: pointer;
        user-select: none;
        text-decoration: none;

        &--container {
          margin: 0;
          display: flex;
          justify-content: center;
          vertical-align: center;
          flex-wrap: wrap;
        }

        &--red {
          color: white;
          font-size: 1em;
          box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.5);
          background: linear-gradient(-90deg, #ee1a43 30%, #ff4d13 70%);

          &:hover {
            background: linear-gradient(-45deg, #086972, #17b978, #a7ff83);
            transition: .3s;
          }
        }

        &--white {
          color: #0957ff;
          font-size: 0.9em;
          box-shadow: 0 7px 25px -4px rgba(0, 0, 0, 0.2);
          background-color: #f7fbfc;

          &:hover {
            background: linear-gradient(-45deg, #00204a, #005792, #00bbf0);
            color: white;
            transition: .3s;
          }
        }
      }
    }
  }
}
