@import "../shared";

$dot-width: 10px !default;
$dot-height: 10px !default;
$dot-radius: $dot-width/2 !default;
$dot-color: #9880ff !default;
$dot-bg-color: $dot-color !default;
$dot-before-color: $dot-color !default;
$dot-after-color: $dot-color !default;
$dot-spacing: $dot-width + $dot-width/2 !default;
$left-pos: -9999px;

@mixin dot(
  $width: $dot-width,
  $height: $dot-height,
  $radius: $dot-radius,
  $bg-color: $dot-bg-color,
  $color: $dot-color
) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bg-color;
  color: $color;
}

@include _page("welcome") {
  @include fix-100vh-in-mobile-WebKit;
  user-select: none;

  .contain {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__winner-bg {
      background-image: linear-gradient(to bottom right, #02b3e4, #02ccba);
    }

    &__loser-bg {
      background-image: linear-gradient(to bottom right, #ed6663, #b52b65);
    }

    &__default-bg {
      background-image: linear-gradient(to bottom right, #d6e0f0, #8d93ab);
    }

    h1 {
      font-size: 1.4em;
      color: #02b3e4;
    }
  }

  .done {
    width: 100px;
    height: 100px;
    position: relative;
    left: 0;
    right: 0;
    top: -20px;
    margin: auto;

    &__progress {
      top: 40px;
      width: 80px;
      height: 80px;
    }
  }

  .congrats {
    position: relative;
    left: 50%;
    top: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
    width: 80%;
    min-height: 300px;
    max-height: 900px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .3);
    background-color: white;
    text-align: center;
    font-size: 2em;
    color: #189086;

    &__error-color {
      color: darkred;
    }
  }

  .text {
    position: relative;
    font-weight: normal;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    max-width: 800px;
    font-size: 0.6em;

    .rank {
      color: white;
      background-color: #0f4c75;
      display: inline-block;
      padding: 10px 30px;
      border-radius: 20px;
      line-height: 1em;
      white-space: nowrap;
    }
  }

  .circle {
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    transition: all 1s;
  }
  .tick {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    transition: stroke-dashoffset 1s 0.5s ease-out;
  }
  .drawn svg .path {
    opacity: 1;
    stroke-dashoffset: 0;
  }

  .regards {
    font-size: .7em;
    color: black;
    font-weight: bolder;
  }

  @media (max-width: 600px) {
    .congrats h1 {
      font-size: 1.2em;
    }

    .done {
      top: -10px;
      width: 80px;
      height: 80px;
    }
    .text {
      font-size: 0.5em;
    }
    .regards {
      font-size: 0.6em;
    }
  }

  @media (max-width: 500px) {
    .congrats h1 {
      font-size: 1em;
    }

    .done {
      top: -10px;
      width: 70px;
      height: 70px;
    }

  }

  @media (max-width: 410px) {
    .congrats h1 {
      font-size: 1em;
    }

    .congrats .hide {
      display: none;
    }

    .done {
      top: -10px;
      width: 50px;
      height: 50px;
    }
    .regards {
      font-size: 0.55em;
    }

  }

  $x1: $dot-spacing * 1.2;
  $y1: $dot-spacing * 1.2;
  $-x1: -$x1;
  $-y1: -$y1;

  $x2: $x1/1.414;
  $y2: $y1/1.414;
  $-x2: -$x2;
  $-y2: -$y2;

  $color-0: rgba($dot-color, 0);
  $color-1: rgba($dot-color, 1);

  .dot-spin {
    position: relative;
    padding: 0;
    display: inline-block;

    @include dot($bg-color: transparent, $color: transparent);

    box-shadow: 0 $-y1 0 0 $color-1,
    $x2 $-y2 0 0 $color-1,
    $x1 0 0 0 $color-1,
    $x2 $y2 0 0 $color-0,
    0 $y1 0 0 $color-0,
    $-x2 $y2 0 0 $color-0,
    $-x1 0 0 0 $color-0,
    $-x2 $-y2 0 0 $color-0;
    animation: dot-spin 1.5s infinite linear;
  }

  @keyframes dot-spin {
    0%,
    100% {
      box-shadow: 0 $-y1 0 0 $color-1,
      $x2 $-y2 0 0 $color-1,
      $x1 0 0 0 $color-1,
      $x2 $y2 0 -5px $color-0,
      0 $y1 0 -5px $color-0,
      $-x2 $y2 0 -5px $color-0,
      $-x1 0 0 -5px $color-0,
      $-x2 $-y2 0 -5px $color-0;
    }

    12.5% {
      box-shadow: 0 $-y1 0 -5px $color-0,
      $x2 $-y2 0 0 $color-1,
      $x1 0 0 0 $color-1,
      $x2 $y2 0 0 $color-1,
      0 $y1 0 -5px $color-0,
      $-x2 $y2 0 -5px $color-0,
      $-x1 0 0 -5px $color-0,
      $-x2 $-y2 0 -5px $color-0;
    }

    25% {
      box-shadow: 0 $-y1 0 -5px $color-0,
      $x2 $-y2 0 -5px $color-0,
      $x1 0 0 0 $color-1,
      $x2 $y2 0 0 $color-1,
      0 $y1 0 0 $color-1,
      $-x2 $y2 0 -5px $color-0,
      $-x1 0 0 -5px $color-0,
      $-x2 $-y2 0 -5px $color-0;
    }

    37.5% {
      box-shadow: 0 $-y1 0 -5px $color-0,
      $x2 $-y2 0 -5px $color-0,
      $x1 0 0 -5px $color-0,
      $x2 $y2 0 0 $color-1,
      0 $y1 0 0 $color-1,
      $-x2 $y2 0 0 $color-1,
      $-x1 0 0 -5px $color-0,
      $-x2 $-y2 0 -5px $color-0;
    }

    50% {
      box-shadow: 0 $-y1 0 -5px $color-0,
      $x2 $-y2 0 -5px $color-0,
      $x1 0 0 -5px $color-0,
      $x2 $y2 0 -5px $color-0,
      0 $y1 0 0 $color-1,
      $-x2 $y2 0 0 $color-1,
      $-x1 0 0 0 $color-1,
      $-x2 $-y2 0 -5px $color-0;
    }

    62.5% {
      box-shadow: 0 $-y1 0 -5px $color-0,
      $x2 $-y2 0 -5px $color-0,
      $x1 0 0 -5px $color-0,
      $x2 $y2 0 -5px $color-0,
      0 $y1 0 -5px $color-0,
      $-x2 $y2 0 0 $color-1,
      $-x1 0 0 0 $color-1,
      $-x2 $-y2 0 0 $color-1;
    }

    75% {
      box-shadow: 0 $-y1 0 0 $color-1,
      $x2 $-y2 0 -5px $color-0,
      $x1 0 0 -5px $color-0,
      $x2 $y2 0 -5px $color-0,
      0 $y1 0 -5px $color-0,
      $-x2 $y2 0 -5px $color-0,
      $-x1 0 0 0 $color-1,
      $-x2 $-y2 0 0 $color-1;
    }

    87.5% {
      box-shadow: 0 $-y1 0 0 $color-1,
      $x2 $-y2 0 0 $color-1,
      $x1 0 0 -5px $color-0,
      $x2 $y2 0 -5px $color-0,
      0 $y1 0 -5px $color-0,
      $-x2 $y2 0 -5px $color-0,
      $-x1 0 0 -5px $color-0,
      $-x2 $-y2 0 0 $color-1;
    }
  }


}
